<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add cart</title>
<body>
<div class="container">
    <h2>OnlineShopApp</h2>
    <br>
    <table>
        <tr>
            <th>Артикул</th>
            <th>Наименование</th>
            <th>Цена</th>
            <th>Описание</th>
            <th>Количество</th>

        </tr>
        <tr th:each="product: ${products}">
                <td th:text="${product.id}">
                <td th:text="${product.name}">
                <td th:text="${product.price}">
                <td th:text="${product.description}">

            <td>
            <form method="post" name="cartForm" action="/templates/cart/cartToAdd.html">
                <input name="product.id"/>
                <input name="cart.countProduct"/>
                <input type="submit", name="Добавить в корзину"/>
            </form>

                </td>
            </tr>
        </th:each>
    </table>

</div>
</body>
</html>
