<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SUPER Admin Page</title>
</head>

<body>
<div>
    <table>
        <thead>
        <th>ID</th>
        <th>Login</th>
        <th>Password</th>
        <th>Roles</th>
        </thead>
        <th:forEach items="${allUsers}" var="user">
            <tr>
                <td>${user.id}</td>
                <td>${user.login}</td>
                <td>${user.password}</td>
                <td>${user.authority}</td>
                <td>

                <th:url value="/user/edit" var="userEditUrl">
                    <th:param name="id" value="${user.id}"/>
                </th:url>
                <th:url value="/user/delete" var="userDeleteUrl">
                    <th:param name="id" value="${user.id}"/>
                </th:url>
                <a class="btn btn-success" href="${userEditUrl}"><i class="fas fa-edit"></i></a>
                <a class="btn btn-danger" href="${userDeleteUrl}"><i class="far fa-trash-alt"></i></a>
                </td>

            </tr>
        </th:forEach>
    </table>
</div>
</body>
</html>