<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<div class="container">
    <h2>Корзина</h2>
    <br>
<body>
<td>
    <a href="/templates/products/products.html">Продукты</a>
</td>

    <form >
        <table>
                <tr>
                    <th>Артикул</th>
                    <th>ID product</th>
                    <th>count product</th>
                </tr>
            <tr th:each="cart: ${carts}">
                <td th:text="${cart.id}">
                <td th:text="${cart.productId}">
                <td th:text="${cart.countProduct}">

            <th headerText="Actions">

                <Button method="delete" action="#{cartController.delete(item.key)}"
                                update="deleteCart">Remove</Button>
            </th>
        </table>
    </form>
</body>
</div>
</html>